* {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
}

#menu {
  position: absolute;
  width: 100%;
  height: 100vh;
}

#help {
  position: absolute;
  width: 70vw;
  height: 80vh;
  right: 10vw;
  top: 10vh;
}

#controls {
  top: 25vh;

}

#start {
  top: 55vh;
}

.button {
  z-index: 999;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 15%;
}

.button-moved {
  left: 10%;
}

#menu {
  display: block;
}

#help {
  display: none; 
}

#canvas {
  display: none;
}

#container-gameover {
  display: none;
  position: absolute;
}

#gameover {
  position: relative;
  width: 700px;
  height: 500px;
  left: 25vw;
  top: 12vh;
  display: block;
  z-index: 1;
}

.button1 {
  z-index: 999;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 4vh;
}

#play {
  left: 36vw;
}

#atras {
  left: 50vw;  
}

#text {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2em;
  position: absolute;
  bottom: 6vh;
  left: 40vw;  
  z-index: 999;

}
