* {
  margin: 0;
  padding: 0;
}

body{
  position: relative;
}

#container-game {
  position: relative;
  /* display: none; */
}

#menu {
  position: absolute;
  width: 100%;
  height: 100vh;
}

#help {
  position: absolute;
  width: 70vw;
  height: 80vh;
  right: 10vw;
  top: 10vh;
}

#controls {
  top: 25vh;

}

#start {
  top: 55vh;
}

.button {
  z-index: 999;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 15%;
}

.button-moved {
  left: 10%;
}

#menu {
  display: block;
  object-fit: cover
}

#help {
  display: none; 
}

#canvas {
  display: none;
  position: absolute;
}

#container-gameover {
  /* display: none;*/
  position: absolute; 
  /* width: 100px; */
  z-index: 999;
  display: none;

}

#container-gameover img {
  margin: 0 auto;

}


.box {
  text-align: center;
  margin: 0 auto;
  width: 700px;
  background: white;
  padding: 40px 0;
  border: 5px solid black;
  /* display: none; */

}


#gameover {
   width: 200px;
   display: block;
}

#rip {
   width: 200px;
   display: block;

}

.button1 {
  width: 100px;
  height: 100px;
  display: inline-block;
}


#text {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 100px;
}

#father-row {
  height: 100vh;
}
